.card {
  margin: 10px auto;
}

h1  {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1em;
}

ul {
  list-style: circle;
}

li.required {
  color: red;
}

/*This title and nav CSS doesn't work, not sure why!*/
title {
  font-size: 2em;
  font-weight: bold;
  color: purple;
}

ul.nav {
  border-color: black;
}
